@inherits LayoutComponentBase

<PageTitle>Changed</PageTitle>

<div class="wrapper">

    <header>
    <Header/>
    </header>
    <main>
        
            @Body
          
  
    </main>

    <footer class="common-footer">

    </footer>
</div>
